.sg_logo svg{
    background-color: transparent;
}

.sg_logo .sg_logo_s{
    fill: light-dark(var(--sg-logo-accent-color), var(--sg-logo-accent-color));
}

.sg_logo .sg_logo_g_top{
    fill: light-dark(var(--sg-logo-base-color), var(--mantine-color-gray-0));
}

.sg_logo .sg_logo_g_bottom{
    fill: light-dark(var(--sg-logo-base-color), var(--mantine-color-gray-0));
}

.sg_logo .sg_letters{
    fill: light-dark(var(--sg-logo-base-color), var(--mantine-color-gray-0));
}