html, body{
    height: 100%;
    width: 100%;
  }
  
  :root{
    --sg-logo-base-color: #535557;
    --sg-logo-accent-color: #37B6FF;
  }
  ::-webkit-scrollbar {
    padding: 2px;
    width: 11px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    background: hsla(0, 0%, 27%, 0.068);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 1%, 78%, 0.644);
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 50%, 0.521);
    border-radius: 25px;
    opacity: 1;
  }
  :where([data-mantine-color-scheme=light]) ::-webkit-scrollbar-thumb {
      background-color: hsla(0, 0%, 54%, 0.644);
  }